In [82]:
import pandas as pd

In [83]:
df1 = pd.read_csv('aapl.csv',sep =',')
df2 = pd.read_csv('amzn.csv',sep = ',')
df3 = pd.read_csv('fb.csv',sep = ',')
df4 = pd.read_csv('goog.csv',sep = ',')
df5 = pd.read_csv('nflx.csv',sep = ',')
print(df1.shape)
print(df2.shape)

(251, 6)
(251, 6)

In [84]:
df1[ 'ticker '] = 'AAPL'
df2[ 'ticker '] = 'AMZN'
df3[ 'ticker '] = 'FB'
df4[ 'ticker '] = 'GOOG'
df5[ 'ticker '] = 'NFLX'

In [85]:
df = pd.concat([df1,df2,df3,df4,df5],axis = 0)
df.head()

         date       high        low       open      close       volume ticker
0  2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0    AAPL
1  2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0    AAPL
2  2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0    AAPL
3  2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0    AAPL
4  2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0    AAPL

In [92]:
a = df.to_csv('faang.csv')

In [99]:
newdf = df.assign(
    date = pd.to_datetime(df.date),
    volume = lambda x: x.volume.astype(int)
)

newdf.head()

        date       high        low       open      close     volume ticker
0 2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600    AAPL
1 2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600    AAPL
2 2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400    AAPL
3 2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000    AAPL
4 2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200    AAPL

In [89]:
b = newdf.sort_values(by=['volume'],ascending=True)
b.head()

          date         high          low  ...        close  volume  ticker
126 2018-07-03  1135.819946  1100.020020  ...  1102.890015  679000     GOOG
226 2018-11-23  1037.589966  1022.398987  ...  1023.880005  691500     GOOG
99  2018-05-24  1080.469971  1066.150024  ...  1079.239990  766800     GOOG
130 2018-07-10  1159.589966  1149.589966  ...  1152.839966  798400     GOOG
152 2018-08-09  1255.541992  1246.010010  ...  1249.099976  848600     GOOG

[5 rows x 7 columns]

In [23]:
df6 = pd.read_csv('covid19_cases.csv',sep = ',')
df6.head()

      dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0  01/01/2020  ...                                                NaN
1  01/01/2020  ...                                                NaN
2  01/01/2020  ...                                                NaN
3  01/01/2020  ...                                                NaN
4  01/01/2020  ...                                                NaN

[5 rows x 12 columns]

In [97]:
new_df = df6.assign(
    date = pd.to_datetime(df6.dateRep)
)
new_df.head()

      dateRep  ...       date
0  01/01/2020  ... 2020-01-01
1  01/01/2020  ... 2020-01-01
2  01/01/2020  ... 2020-01-01
3  01/01/2020  ... 2020-01-01
4  01/01/2020  ... 2020-01-01

[5 rows x 13 columns]

In [98]:
new_df.set_index('date',inplace=True)
new_df.head()

               dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date                    ...
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN

[5 rows x 12 columns]

In [102]:
new_df.replace({'United_States_of_America':"US","United_ Kingdom":"UK"},inplace = True)
new_df.head()

               dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date                    ...
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN

[5 rows x 12 columns]

In [107]:
covid_clean = new_df.loc[new_df['countriesAndTerritories'].isin(["Argentina", "Brazil", "China", "Colombia", "India", "Italy", "Mexico", "Peru", "Russia", "Spain", "Turkey", "UK",  "USA"])]
covid_clean

               dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date                    ...
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
...                ...  ...                                                ...
2020-09-18  18/09/2020  ...                                         334.608623
2020-09-18  18/09/2020  ...                                           0.021482
2020-09-18  18/09/2020  ...                                         203.361408
2020-09-18  18/09/2020  ...                                          33.321987
2020-09-18  18/09/2020  ...                                         300.510940

[2597 rows x 12 columns]

In [105]:
pivoted_df = new_df.pivot(index='dateRep',columns='countriesAndTerritories',values='cases').fillna(0)
pivoted_df

countriesAndTerritories  Afghanistan  Albania  Algeria  ...  Yemen  Zambia  Zimbabwe
dateRep                                                 ...
01/01/2020                       0.0      0.0      0.0  ...    0.0     0.0       0.0
01/02/2020                       0.0      0.0      0.0  ...    0.0     0.0       0.0
01/03/2020                       0.0      0.0      2.0  ...    0.0     0.0       0.0
01/04/2020                      25.0     20.0    132.0  ...    0.0     0.0       1.0
01/05/2020                     222.0      7.0    158.0  ...    0.0     9.0       0.0
...                              ...      ...      ...  ...    ...     ...       ...
31/01/2020                       0.0      0.0      0.0  ...    0.0     0.0       0.0
31/03/2020                      27.0     11.0     73.0  ...    0.0     6.0       0.0
31/05/2020                     866.0     23.0    133.0  ...   23.0     0.0      14.0
31/07/2020                      71.0     92.0    602.0  ...   15.0   306.0     213.0
31/08/2020                      19.0    101.0    364.0  ...    6.0   123.0       6.0

[262 rows x 210 columns]